<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nova Tabela</title>
<style>
table {
    border-collapse: collapse;
    width: 50%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
input {
    width: calc(100% - 16px); /* Considerando o padding de 8px em cada lado */
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente */
    height: 100vh; /* Altura total da tela */
}



</style>
</head>
<body>


<div class="container">
<table id="nova-tabela">
  <thead>
    <tr>
      <th width="10%"></th>
      <th colspan="2">Criança</th>
      <th colspan="2">Pai/Mãe</th>
      <th>Índice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>D8S1179</td>
        <td class="input1"></td>
        <td class="input2"></td>
        <td class="input3"></td>
        <td class="input4"></td>
        <td class="indice"></td>
    </tr>
    <tr>
      <td>D21S11</td>
      <td class="input1_1"></td>
      <td class="input2_1"></td>
      <td class="input3_1"></td>
      <td class="input4_1"></td>
      <td class="indice_1"></td>
    </tr>
    
    <tr>
        <td>D7S820</td>
        <td class="input1_2"></td>
        <td class="input2_2"></td>
        <td class="input3_2"></td>
        <td class="input4_2"></td>
        <td class="indice_2"></td>
      </tr>

      <tr>
        <td>CSF1PO</td>
        <td class="input1_3"></td>
        <td class="input2_3"></td>
        <td class="input3_3"></td>
        <td class="input4_3"></td>
        <td class="indice_3"></td>
      </tr>

      <tr>
        <td>D3S1358</td>
        <td class="input1_4"></td>
        <td class="input2_4"></td>
        <td class="input3_4"></td>
        <td class="input4_4"></td>
        <td class="indice_4"></td>
      </tr>

      <tr>
        <td>THO1</td>
        <td class="input1_5"></td>
        <td class="input2_5"></td>
        <td class="input3_5"></td>
        <td class="input4_5"></td>
        <td class="indice_5"></td>
      </tr>

      <tr>
        <td>D13S317</td>
        <td class="input1_6"></td>
        <td class="input2_6"></td>
        <td class="input3_6"></td>
        <td class="input4_6"></td>
        <td class="indice_6"></td>
      </tr>

      <tr>
        <td>D16S539</td>
        <td class="input1_7"></td>
        <td class="input2_7"></td>
        <td class="input3_7"></td>
        <td class="input4_7"></td>
        <td class="indice_7"></td>
      </tr>

      <tr>
        <td>D2S1338</td>
        <td class="input1_8"></td>
        <td class="input2_8"></td>
        <td class="input3_8"></td>
        <td class="input4_8"></td>
        <td class="indice_8"></td>
      </tr>

      <tr>
        <td>D19S433</td>
        <td class="input1_9"></td>
        <td class="input2_9"></td>
        <td class="input3_9"></td>
        <td class="input4_9"></td>
        <td class="indice_9"></td>
      </tr>

      <tr>
        <td>VWA</td>
        <td class="input1_10"></td>
        <td class="input2_10"></td>
        <td class="input3_10"></td>
        <td class="input4_10"></td>
        <td class="indice_10"></td>
      </tr>

      <tr>
        <td>TPOX</td>
        <td class="input1_11"></td>
        <td class="input2_11"></td>
        <td class="input3_11"></td>
        <td class="input4_11"></td>
        <td class="indice_11"></td>
      </tr>

      <tr>
        <td>D18S51</td>
        <td class="input1_12"></td>
        <td class="input2_12"></td>
        <td class="input3_12"></td>
        <td class="input4_12"></td>
        <td class="indice_12"></td>
      </tr>

    <tr>
      <td>D5S818</td>
      <td class="input1_13"></td>
      <td class="input2_13"></td>
      <td class="input3_13"></td>
      <td class="input4_13"></td>
      <td class="indice_13"></td>
    </tr>

    <tr>
        <td>FGA</td>
        <td class="input1_14"></td>
        <td class="input2_14"></td>
        <td class="input3_14"></td>
        <td class="input4_14"></td>
        <td class="indice_14"></td>
      </tr>

  </tbody>

  <tr>
    <td>IP Acumulado</td>
    <td colspan="24" class="ipa_final"></td>
</tr>

<tr>
    <td>PP</td>
    <td colspan="24" class="porcentagem_ipa_final"></td>
</tr>



</table>
</div>

<script>


</script>



</body>
</html>